body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #abacaf; }

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0; }

header {
  background: url("../img/1920x1080/01.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh; }

.margin-b-10 {
  margin-bottom: 10px; }

.container {
  max-width: 1170px;
  min-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 0 15px; }

.header-wrapper {
  display: flex;
  flex-direction: column; }
  .header-wrapper .header-line {
    border-bottom: 1px solid #615d5d; }
    .header-wrapper .header-line .header-logo-nav-wrapper {
      display: flex; }
      .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-logo {
        width: 50%; }
        .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-logo h2 {
          font-size: 26px;
          color: #81848f;
          font-weight: normal;
          margin: 40px 0 30px 0; }
      .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-nav {
        width: 50%;
        align-self: center; }
        .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-nav .header-inner-nav-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          list-style: none;
          margin: 0;
          padding: 0; }
          .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-nav .header-inner-nav-items :last-child {
            padding-right: 0; }
          .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-nav .header-inner-nav-items li {
            padding-right: 40px; }
          .header-wrapper .header-line .header-logo-nav-wrapper .header-inner-nav .header-inner-nav-items li a {
            color: #ffffff;
            font-size: 8px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase; }
  .header-wrapper .header-sublogo {
    flex-shrink: 1;
    padding-top: 27px; }
    .header-wrapper .header-sublogo h2 {
      font-size: 26px;
      color: #81848f;
      font-weight: normal; }
  .header-wrapper .header-content-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header-wrapper .header-content-wrapper .header-content {
      color: #ffffff; }
      .header-wrapper .header-content-wrapper .header-content h1 {
        text-transform: uppercase;
        font-size: 56px;
        font-weight: bold;
        padding-bottom: 40px; }
      .header-wrapper .header-content-wrapper .header-content p {
        width: 30%;
        font-size: 12px;
        padding-bottom: 46px; }
      .header-wrapper .header-content-wrapper .header-content a {
        padding: 17px 40px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        color: #ffffff;
        font-weight: bold;
        border: 3px solid #ffffff; }
      .header-wrapper .header-content-wrapper .header-content a:hover {
        background-color: #ffffff;
        color: #81848f; }

.main-coding {
  padding: 108px 0 115px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .main-coding .main-coding-item {
    width: 360px; }
    .main-coding .main-coding-item h2 {
      padding-bottom: 30px;
      font-size: 21px;
      color: #515769; }
    .main-coding .main-coding-item p {
      font-size: 11px; }
    .main-coding .main-coding-item img {
      width: 360px;
      height: auto; }
    .main-coding .main-coding-item .main-coding-item-title-top {
      padding-top: 20px; }
    .main-coding .main-coding-item .main-coding-item-title-bottom {
      padding-bottom: 20px; }

.main-choose {
  background-color: #fafafa; }
  .main-choose .main-choose-wrapper {
    padding: 100px 0 120px 0;
    display: flex;
    justify-content: space-between; }
    .main-choose .main-choose-wrapper .main-choose-us {
      max-width: 460px; }
      .main-choose .main-choose-wrapper .main-choose-us h2 {
        padding-bottom: 25px;
        color: #515769;
        font-size: 21px;
        font-weight: bold; }
      .main-choose .main-choose-wrapper .main-choose-us p {
        padding-bottom: 35px;
        font-size: 11px; }
      .main-choose .main-choose-wrapper .main-choose-us a {
        padding: 18px 40px;
        font-size: 9px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #515769; }
      .main-choose .main-choose-wrapper .main-choose-us a:hover {
        background-color: #17bed2; }
    .main-choose .main-choose-wrapper .main-choose-benefits {
      width: 460px; }
      .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item-active {
        margin-bottom: 10px;
        padding: 36px 30px;
        background-color: #17bed2; }
        .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item-active a {
          color: #ffffff;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none; }
        .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item-active p {
          padding-top: 35px;
          color: #ffffff;
          font-size: 11px; }
      .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item {
        padding: 35px 30px;
        background-color: #ffffff; }
        .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: #515769; }
        .main-choose .main-choose-wrapper .main-choose-benefits .main-choose-benefit-item a:hover {
          color: #999caa; }

.main-latest-products {
  padding: 110px 0; }
  .main-latest-products .main-latest-products-title {
    width: 50%; }
    .main-latest-products .main-latest-products-title h2 {
      font-size: 21px;
      font-weight: bold;
      color: #515769;
      padding-bottom: 31px; }
    .main-latest-products .main-latest-products-title p {
      padding-bottom: 60px;
      font-size: 11px; }
  .main-latest-products .main-latest-products-items {
    display: flex;
    justify-content: space-between; }
    .main-latest-products .main-latest-products-items .main-latest-products-item {
      max-width: 360px; }
      .main-latest-products .main-latest-products-items .main-latest-products-item :hover {
        background-color: rgba(255, 255, 255, 0.7); }
      .main-latest-products .main-latest-products-items .main-latest-products-item img {
        padding-bottom: 26px;
        width: 360px;
        height: auto; }
      .main-latest-products .main-latest-products-items .main-latest-products-item h3 {
        padding-bottom: 24px;
        font-size: 14px;
        font-weight: bold;
        color: #515769; }
        .main-latest-products .main-latest-products-items .main-latest-products-item h3 span {
          padding-left: 27px;
          font-size: 9px;
          font-weight: normal;
          color: #abacaf;
          text-transform: uppercase; }
      .main-latest-products .main-latest-products-items .main-latest-products-item p {
        padding-bottom: 20px;
        font-size: 11px; }
      .main-latest-products .main-latest-products-items .main-latest-products-item a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        color: #81848f; }
      .main-latest-products .main-latest-products-items .main-latest-products-item a::after {
        position: absolute;
        content: ' ';
        top: 5px;
        right: -14px;
        width: 9px;
        height: 2px;
        background-color: #17bed2; }
    .main-latest-products .main-latest-products-items .main-latest-products-item:hover {
      opacity: .5; }

.main-plans {
  background-color: #fafafa; }
  .main-plans .main-plans-wrapper {
    padding: 100px 0 110px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-plans .main-plans-wrapper .main-plans-item {
      width: 380px;
      margin-right: 2px;
      padding: 70px 45px;
      background-color: #ffffff; }
      .main-plans .main-plans-wrapper .main-plans-item h2 {
        padding-bottom: 28px;
        font-size: 14px;
        font-weight: bold;
        color: #515769; }
        .main-plans .main-plans-wrapper .main-plans-item h2 span {
          font-size: 12px;
          font-weight: normal;
          color: #abacaf; }
      .main-plans .main-plans-wrapper .main-plans-item p {
        padding-bottom: 36px;
        font-size: 11px; }
      .main-plans .main-plans-wrapper .main-plans-item ul {
        padding-bottom: 56px;
        list-style: none; }
        .main-plans .main-plans-wrapper .main-plans-item ul span:before {
          position: absolute;
          content: '';
          top: 8px;
          left: 0;
          width: 9px;
          height: 2px;
          background-color: #17bed2; }
        .main-plans .main-plans-wrapper .main-plans-item ul li {
          padding-left: 14px;
          position: relative;
          font-size: 9px;
          color: #81848f; }
      .main-plans .main-plans-wrapper .main-plans-item a {
        padding: 18px 40px;
        background-color: #f3f4f5;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        color: #515769; }
      .main-plans .main-plans-wrapper .main-plans-item a:hover {
        background-color: #17bed2;
        color: #ffffff; }
      .main-plans .main-plans-wrapper .main-plans-item .main-plans-item-icon i {
        padding-bottom: 35px;
        font-size: 30px;
        color: #999caa; }
    .main-plans .main-plans-wrapper .main-plans-item:nth-of-type(3n) {
      margin-right: 0; }
    .main-plans .main-plans-wrapper .main-plans-item:nth-of-type(2n) {
      padding: 110px 45px; }

.main-work {
  padding: 50px 0 80px 0;
  border-bottom: 1px solid #edf0f2; }
  .main-work .main-work-wrapper h2 {
    padding-bottom: 31px;
    font-size: 21px;
    font-weight: bold;
    color: #515769; }
  .main-work .main-work-wrapper p {
    padding-bottom: 60px;
    width: 50%;
    font-size: 11px; }
  .main-work .main-work-wrapper .main-work-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .main-work .main-work-wrapper .main-work-image div {
      margin-top: 40px; }
    .main-work .main-work-wrapper .main-work-image .main-work-image-1 {
      position: relative;
      width: 760px;
      height: 375px;
      background: url("../img/800x400/01.jpg") no-repeat center center; }
    .main-work .main-work-wrapper .main-work-image .main-work-image-2 {
      position: relative;
      width: 360px;
      height: 375px;
      background: url("../img/397x415/01.jpg") no-repeat center center;
      background-size: cover; }
    .main-work .main-work-wrapper .main-work-image .main-work-image-3 {
      position: relative;
      width: 360px;
      height: 375px;
      background: url("../img/397x300/01.jpg") no-repeat center center;
      background-size: cover; }
    .main-work .main-work-wrapper .main-work-image .main-work-image-4 {
      position: relative;
      width: 360px;
      height: 375px;
      background: url("../img/397x300/02.jpg") no-repeat center center;
      background-size: cover; }
    .main-work .main-work-wrapper .main-work-image .main-work-image-5 {
      position: relative;
      width: 360px;
      height: 375px;
      background: url("../img/397x300/03.jpg") no-repeat center center;
      background-size: cover; }
    .main-work .main-work-wrapper .main-work-image :hover::after {
      position: absolute;
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.main-brands {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-brands img {
    width: 195px;
    height: auto; }

.main-services {
  background-color: #fafafa; }

.main-services-wrapper {
  padding: 110px 0 100px 0; }
  .main-services-wrapper h2 {
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
    color: #515769; }
  .main-services-wrapper p {
    padding-bottom: 60px;
    width: 50%;
    font-size: 11px; }
  .main-services-wrapper .main-services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main-services-wrapper .main-services-items .main-services-item:hover .main-services-item-icon i {
      display: none; }
    .main-services-wrapper .main-services-items .main-services-item {
      padding: 50px;
      margin: 0 2px 2px 0;
      width: 288px;
      background-color: #ffffff; }
      .main-services-wrapper .main-services-items .main-services-item h3 {
        padding-bottom: 28px;
        font-size: 14px;
        font-weight: bold;
        color: #515769; }
      .main-services-wrapper .main-services-items .main-services-item p {
        padding-bottom: 60px;
        font-size: 11px;
        width: 100%;
        padding: 0; }
      .main-services-wrapper .main-services-items .main-services-item .main-services-item-icon i {
        padding-bottom: 36px;
        font-size: 30px;
        color: #9a9dab; }
