$color-white: #ffffff;

body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #abacaf;

}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

header {
  background: url("../img/1920x1080/01.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.container {
  max-width: 1170px;
  min-width: 1170px;

  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;

  .header-line {
    border-bottom: 1px solid #615d5d;

    .header-logo-nav-wrapper {
      display: flex;

      .header-inner-logo {
        width: 50%;

        h2 {
          font-size: 26px;
          color: #81848f;
          font-weight: normal;
          margin: 40px 0 30px 0;
        }
      }

      .header-inner-nav {
        width: 50%;
        align-self: center;

        .header-inner-nav-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;

          list-style: none;

          margin: 0;
          padding: 0;

          li {
            padding-left: 40px;
          }

          li a {
            color: $color-white;
            font-size: 8px;
            font-weight: bold;

            text-decoration: none;

            text-transform: uppercase;
          }

          li:nth-of-type(1) {
            padding-left: 0;
          }
        }
      }
    }
  }

  .header-sublogo {
    flex-shrink: 1;

    padding-top: 27px;

    h2 {
      font-size: 26px;
      color: #81848f;
      font-weight: normal;
    }
  }

  .header-content-wrapper {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-content {
      color: $color-white;

      h1 {
        text-transform: uppercase;
        font-size: 56px;
        font-weight: bold;

        padding-bottom: 40px;
      }

      p {
        width: 30%;

        font-size: 12px;
        padding-bottom: 46px;
      }

      a {
        padding: 17px 40px;

        text-decoration: none;
        text-transform: uppercase;

        font-size: 10px;
        color: $color-white;
        font-weight: bold;

        border: 3px solid $color-white;
      }

      a:hover {
        background-color: $color-white;

        color: #81848f;
      }
    }
  }
}

.main-coding {
  padding: 108px 0 100px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .main-coding-item {
    padding-bottom: 15px;

    width: 360px;

    h2 {
      padding-bottom: 30px;

      font-size: 21px;
      color: #515769;
    }

    p {
      font-size: 11px;
    }

    img {
      width: 360px;
      height: auto;
    }

    .main-coding-item-title-top {
      padding-top: 20px;

    }

    .main-coding-item-title-bottom {
      padding-bottom: 20px;
    }
  }
}

.main-choose {
  background-color: #fafafa;

  .main-choose-wrapper {
    padding: 100px 0 120px 0;
    display: flex;
    justify-content: space-between;

    .main-choose-us {
      max-width: 460px;

      h2 {
        padding-bottom: 25px;

        color: #515769;
        font-size: 21px;
        font-weight: bold;
      }

      p {
        padding-bottom: 35px;
        font-size: 11px;
      }

      a {
        padding: 18px 40px;
        font-size: 9px;
        font-weight: bold;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;

        background-color: #515769;
      }

      a:hover {
        background-color: #17bed2;
      }
    }

    .main-choose-benefits {
      width: 460px;

      .main-choose-benefit-item-active {
        margin-bottom: 10px;
        padding: 36px 30px;

        background-color: #17bed2;

        a {
          color: $color-white;
          font-size: 14px;
          font-weight: bold;

          text-decoration: none;
        }

        p {
          padding-top: 35px;

          color: $color-white;
          font-size: 11px;
        }
      }

      .main-choose-benefit-item {
        padding: 35px 30px;
        background-color: $color-white;

        a {
          font-size: 14px;
          font-weight: bold;

          text-decoration: none;
          color: #515769;
        }

        a:hover {
          color: #999caa;
        }
      }
    }
  }
}

.main-latest-products {
  padding: 110px 0;

  .main-latest-products-title {
    width: 50%;

    h2 {
      font-size: 21px;
      font-weight: bold;
      color: #515769;

      padding-bottom: 31px;
    }

    p {
      padding-bottom: 60px;

      font-size: 11px;
    }
  }

  .main-latest-products-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main-latest-products-item {
      max-width: 360px;
      transition: all 1s ease;


      &:hover {
        background-color: rgba(255, 255, 255, .7);
      }

      img {
        padding-bottom: 26px;

        width: 360px;
        height: auto;
      }

      h3 {
        padding-bottom: 24px;

        font-size: 14px;
        font-weight: bold;
        color: #515769;

        span {
          padding-left: 27px;

          font-size: 9px;
          font-weight: normal;
          color: #abacaf;
          text-transform: uppercase;
        }
      }

      p {
        padding-bottom: 20px;

        font-size: 11px;
      }

      a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        color: #81848f;
      }

      a::after {
        position: absolute;
        content: ' ';
        top: 5px;
        right: -14px;
        width: 9px;
        height: 2px;
        background-color: #17bed2;
      }
    }

    .main-latest-products-item:hover {
      opacity: .5;
    }
  }
}

.main-plans {
  background-color: #fafafa;

  .main-plans-wrapper {
    padding: 100px 0 110px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .main-plans-item {
      width: 295px;

      margin-right: 2px;
      padding: 70px 45px;

      background-color: $color-white;

      h2 {
        padding-bottom: 28px;

        font-size: 14px;
        font-weight: bold;
        color: #515769;

        span {
          font-size: 12px;
          font-weight: normal;
          color: #abacaf;
        }
      }

      p {
        padding-bottom: 36px;
        font-size: 11px;
      }

      ul {
        padding-bottom: 56px;
        list-style: none;

        span:before {
          position: absolute;
          content: '';
          top: 8px;
          left: 0;
          width: 9px;
          height: 2px;
          background-color: #17bed2;
        }

        li {

          padding-left: 14px;
          position: relative;

          font-size: 9px;
          color: #81848f;
        }
      }

      a {
        padding: 18px 40px;
        background-color: #f3f4f5;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        color: #515769;
      }

      a:hover {
        background-color: #17bed2;
        color: $color-white;
      }

      .main-plans-item-icon i {
        padding-bottom: 35px;

        font-size: 30px;
        color: #999caa;
      }
    }

    .main-plans-item:nth-of-type(3n) {
      margin-right: 0;
    }

    .main-plans-item:nth-of-type(2n) {
      padding: 110px 45px;
    }
  }
}

.main-work {
  padding: 50px 0 80px 0;

  border-bottom: 1px solid #edf0f2;

  .main-work-wrapper {

    h2 {
      padding-bottom: 31px;

      font-size: 21px;
      font-weight: bold;
      color: #515769;
    }

    p {
      padding-bottom: 20px;

      width: 50%;
      font-size: 11px;
    }

    .main-work-image {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;



      div {
        margin-top: 40px;
      }

      .main-work-image-1 {
        position: relative;
        width: 760px;
        height: 375px;

        background: url("../img/800x400/01.jpg") no-repeat center center;
      }

      .main-work-image-2 {
        position: relative;
        width: 360px;
        height: 375px;

        background: url("../img/397x415/01.jpg") no-repeat center center;
        background-size: cover;
      }

      .main-work-image-3 {
        position: relative;
        width: 360px;
        height: 375px;

        background: url("../img/397x300/01.jpg") no-repeat center center;
        background-size: cover;
      }

      .main-work-image-4 {
        position: relative;
        width: 360px;
        height: 375px;

        background: url("../img/397x300/02.jpg") no-repeat center center;
        background-size: cover;
      }

      .main-work-image-5 {
        position: relative;
        width: 360px;
        height: 375px;

        background: url("../img/397x300/03.jpg") no-repeat center center;
        background-size: cover;
      }

      :hover::after {
        position: absolute;
        content: '';
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.main-brands {
  padding: 100px 0;

  position: relative;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 195px;
    height: auto;
  }

  img:hover {
    opacity: 0.6;
  }
}

.main-services {
  background-color: #fafafa;
}

.main-services-wrapper {
  padding: 110px 0 100px 0;

  h2 {
    padding-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
    color: #515769;
  }

  p {
    padding-bottom: 60px;

    width: 50%;
    font-size: 11px;
  }

  .main-services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .main-services-item {
      padding: 50px 50px 60px 50px;
      margin: 0 2px 2px 0;

      max-width: 24%;

      background-color: $color-white;

      h3 {
        padding-bottom: 28px;
        font-size: 14px;
        font-weight: bold;
        color: #515769;
      }

      p {
        padding-bottom: 0;

        font-size: 11px;
        width: 100%;
      }

      .main-services-item-icon i {
        padding-bottom: 36px;
        font-size: 30px;
        color: #9a9dab;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:hover {
        border-top: 23px solid #17BED2;
        .main-services-item-icon i {
          display: none;
        }
      }
    }
  }
}

.main-agency {
  padding: 105px 0 115px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .main-agency-item {
    margin-right: 40px;
    max-width: 30%;

    h2 {
      padding-bottom: 28px;

      font-size: 14px;
      font-weight: bold;
      color: #515769;

      span {
        padding-left: 26px;

        font-size: 9px;
        text-transform: uppercase;
        color: #abacaf;
      }
    }

    p {
      padding-bottom: 18px;

      font-size: 11px;
    }

    i {
      font-size: 9px;
      color: #17BED2;
    }

    a {
      padding-left: 14px;

      font-size: 9px;
      text-decoration: none;
      color: #81848F;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.main-map {
  margin-bottom: 85px;

  iframe {
    width: 100%;
    height: 300px;
  }
}

.footer-wrapper {
  padding-bottom: 80px;

  display: flex;

  li {
    padding: 0 130px 20px 0;
    list-style: none;
  }

  .footer-nav-items:last-child {
    padding-bottom: 0;
  }

  a {
    font-size: 11px;
    color: #51576D;
    text-decoration: none;
  }

  a:hover {
    color: #999CAA;
  }
}

@media screen and (max-width: 1024px) {
  .main-map {
    display: none;
  }
}